<!DOCTYPE html>
<html lang="cs">
    <head>     
        <meta charset="utf-8">
        <title>cable_cv</title>
        <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css" />
        <style>
            body {background-image: url("cablebg7.jpg");
                background-size: cover;}
        </style>
    </head>

    <body style= "background-color: #708090;">
        <h1 class="h" style="font-family:Segoe UI; text-align:center; font-size:350%; background-color: white; background-size: 700px;">PORTapp</h1>
        <div id="features" class="card2" style="background-color:rgba(250, 250, 250, 0.9);">

        <h2 style="font-family:Segoe UI; text-align:center; padding-top: 30px; font-size:200%;">Take a photo of cable</h2>
        <button class="button" id="snap">Capture</button>
        <button class="button" id="submit">Submit</button>
        </div>
        <div class="video-wrap">
            <video id="video" playsinline autoplay></video>
        </div>
      
        <canvas id="canvas" width="1000" height="470"></canvas>

        <form action="/detect" method="POST" id="send">
            <input type="hidden" id="image" name="image">
        </form>


    <script>

        'use strict';

        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const snap = document.getElementById('snap');
        const submit = document.getElementById('submit');
        const errorMsgElement = document.getElementById('span#ErrorMsg');
        const inputImage = document.getElementById('image');
        const formImage = document.getElementById('send');

        const constraints = { 
            audio: false,
            video: {
                width: 1000,
                height: 470
            }
        };

        async function init(){
            try{
                const stream = await navigator.mediaDevices.getUserMedia(constraints);
                handleSuccess(stream);
            }
            catch(e){
                errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;
            }
        }

        function handleSuccess(stream){
            window.stream = stream;
            video.srcObject = stream;
        }

        init();

        var context = canvas.getContext("2d");
        snap.addEventListener("click", function(){
            context.drawImage(video, 0, 0);
        });

        submit.addEventListener("click", function(){
            var dataURL = canvas.toDataURL();
            inputImage.value = dataURL;
            formImage.submit();
        });

    </script>

    </body>

</html>