<!DOCTYPE html>
<html lang="cs">
    <head>     
        <meta charset="utf-8">
        <title>cable_cv</title>
        <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css" />
        <style>
            body {background-image: url("cablebg7.jpg");
                background-size: cover;}
        </style>
    </head>

    <body>
        <h1 class="h" style="font-family:Segoe UI; text-align:center; font-size:350%; background-color: white;">PORTapp</h1>
        
        <body>
        

        <div class="card2" style="background-color:rgba(250, 250, 250, 0.9);">
             
        <img style= "width:100%" class= "img" src="{{user_image}}" alt="fotka s oznacenymi boxy" >

        <input type="hidden" id="port1" value="{{port1}}">
        <input type="hidden" id="port2" value="{{port2}}">

        <input class="search" type="text" id="length" name="length">

        <input type="hidden" id="search_text" name="search_text">
      
        <p>
            <a href="/camera" class="button">New photo</a>  
            <button id="search" class="button">Search</button>
        </p>
        
            
        </div>
        
        <script>
            
            'use strict'

            const length = document.getElementById('length');

            const port1 = document.getElementById('port1');
            const port2 = document.getElementById('port2');
            
            const search_text = document.getElementById('search_text');
            const search = document.getElementById('search');

            search.addEventListener("click", function(){
                search_text.value = port1.value + " to " + port2.value + ' ' + length.value + "m";
                window.open("https://www.bing.com/search?q="+search_text.value);
            });

        </script>
        </body>

        
    </body>

</html>


