<!DOCTYPE html>
<html lang="cs">
    <head>     
        <meta charset="utf-8">
        <title>cable_cv</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>

    <body class="body">
        <h1 class="h2">PORTapp</h1> 

        <div id="features" class="card">
            
                <img src="../static/img/cablesc.jpg" alt="Obrazek portu" class="img2">
                    <h1>Search for cable</h1>
                    <p class="p1">Vyfotte kabel a najde novy</p>
                    <p><a href="/camera"><button>Let's go</button></a></p>
            
        </div>
     
    </body>

</html>