<!DOCTYPE html>
<html lang="cs">
    <head>     
        <meta charset="utf-8">
        <title>cable_cv</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>

    <body>
        <h1>PORTapp</h1> 

        <div id="features">
            <div class="card">
                <img src="../static/img/cables.jpg" alt="Obrazek dvou portu" style="width:100%">
                    <h1>Najit stejny kabel</h1>
                    <p>Vyfotte kabel a najde novy</p>
                    <p><a href="/camera"><button>Lets go</button></a></p>
            </div> 
        </div>
     
    </body>

</html>