<!DOCTYPE html>
<html lang="cs">
    <head>     
        <meta charset="utf-8">
        <title>PortVision</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css" />
    </head>

    <body class="body">
        <h1 class="h2">PortVision</h1> 

        <div id="features" class="card">
            
                <img src="../static/img/cablesc.jpg" alt="Obrazek portu" class="img2">
                    <h2 class="h3">Vyhledat kabel</h1>
                    <p class="p1">Vyfoťte kabel s dvěmi porty a najde na internetu jeho kopii</p>
                    <p><a href="/camera"><button>Dále</button></a></p>
            
        </div>
     
    </body>

</html>